<!DOCTYPE html>
<html>
<head>
	<title>Inbox - Wunderlist</title>
</head>
	<!-- custom CSS file -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/public/design.css">

					<!-- bootstrap 4 CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
					
					<!-- link for icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
					<!-- font type -->
	 <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">				
<body>

<div class="row no-gutters">
	
	<div class="col-2 no-gutters">
	  <!-- navbar_leftPortion -->
	  <div id="background">
		 <div class=" d-flex justify-content-between ">
			
			<i class="fas fa-bars"></i>
 			<form >
          	  <div class="form-group md-form mt-0 pt-1 waves-light">
           	    <input id="addHeader">
           	  </div>
         	 </form>
			<i class="fas fa-search"></i>

		  </div>
	   </div>
	   <!-- sideBar -->
	   <div class="sidenav">
			
			<li>
				<img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"><span>asadzahid147...</span><i class="far fa-bell"></i><i class="far fa-comment"></i>
			</li>
	   		<li><i style="color:skyblue" class="fas fa-inbox"></i><span>Inbox</span></li>
 			<li><i class="fas fa-list-ul"></i><span>Groceries</span></li>
 			<li><i class="fas fa-list-ul"></i>Movies to Watch</li>
 			<li><i class="fas fa-list-ul"></i>Private</li>

		</div>
	</div>
	<div class="col-10 no-gutters ">
			<!-- navbar_rightPortion -->
	  <div id="rightside">
		<div class="  d-flex justify-content-between">
			<div class="navbar-brand header">Inbox</div>
			<div>
				<a href="#"><i class="fas fa-user-plus"></i></a>
				<a href="#"><i class="fas fa-sort-alpha-up"></i></a>
				<a href="#"><i class="fas fa-ellipsis-h"></i></a>
			</div>
		</div>
	  </div>
	  <!-- center input form  -->
	  <div id="inputDiv">
		<a href="#"><i class="fas fa-plus"></i></a>
		<input id="addingText" type="text" name="">
		<i class="fas fa-calendar"></i>
		<i class="far fa-star"></i>
	</div>
		<!-- button right below the input bar -->
	<button id="btn">SHOW COMPLETED TO_DOS</button>
  
  </div>
</div>
				<!-- JS links from bootstrap for the function  -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>